body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body>section{
    display: flex;
    flex-direction: row;
}
.section-1{
    width: 275px;

    background-color: midnightblue;
    height: 100vh;
}
.section-1>ul{
    font-family:"Poppins",sans-serif;

    font-size: 14px;
    list-style: none;
}
.section-1>ul>li{
    padding: 20px 20px;
}
.section-1>ul>li>a{
    text-decoration: none;
    list-style-type: none;
    color: white;

}
.section-2>.f-row{
    display: flex;
    flex-direction: row;
    font-family: "Poppins",sans-serif;

}
.div-1{
    background-color:  #aee3a5;
    margin: 10px 10px;
    width: 300px;
    opacity: 0.8;
    padding: 10px;
    border-radius:5px;
}
.div-2{
    background-color:#e9907e;
    margin: 10px 10px;
    width: 300px;
    opacity: 0.8;
    padding: 10px;
    border-radius:5px;
}
.div-3{
    background-color: #c4c7cc;
    margin: 10px 10px;
    width: 315px;
    opacity: 0.8;
    padding: 10px;
    border-radius:5px;
}
.section-3{
    background-color: #00917c;
    margin: 10px 10px;
    width: 355px;
    opacity: 0.8;
    padding: 10px;
    border-radius:5px;
}
.s-row{
background-color: #a25f61;
    margin: 10px 10px;
    width: 995px;
    height: 75vh;
    opacity: 0.8;
    border-radius:5px;
    padding: 10px 10px 0px 10px;

    font-family: "Poppins",sans-serif;
}